main{
  justify-content: right;
  padding: 20px;
  max-width: 600px;
  margin-top: 0 auto;
}
h1{
  font-size: 6em;
  color: inherit;
}
header{
  display:flex;
  justify-content:space-between;
  margin-bottom: 50px;
  position: relative;
}
header a{
  position: absolute;
  right: 0;
  top: 0;
  margin-left:1250px; 
  padding: 10px;
  text-align: right;

}
header nav{
  text-decoration: none;
  padding: 10px;
  margin-top: 25px;
}